html{
    margin: 0; 
    box-sizing: border-box;
    padding:0;

body{
    background-color:#8D5FBD;

nav{
    background-color: #D0AAF7;
    width: 15%;
    height: 100%;
    display: inline-block;
    position: sticky;
    top: 0;
    left: 0;	  

    .unorderList{
        background-color: red;
        list-style-type: none;
        display: inline-block;
        height: 100%;
        width: 100%;
        vertical-align: top;
       
        li {
            display: block;
            /*background-color: #D262E0;*/
            height: 60px;
            width: 100%;
            text-align: center;
            padding-top: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
            font-size: 16px;
            color: #6509C2;
        }
        
        li:hover {
            background: #6509C2;
            color: #540F9B;
        }
       
        #shop:hover {
            background-color: yellow;
            background: pink;
            color: yellowgreen;
        }
    
    }
    
    
}
}








}